<div class="flex flex-col">
  <div class="w-56 ml-15 mt-5">
    <img
      src="https://divmension-12e561930bc7.s3.amazonaws.com/images/logo_usa_impuestos-removebg-preview.png"
      alt="Logo"
      class="object-cover w-full h-full"
    />
  </div>

  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="flex w-full items-start rounded-lg mt-10 ml-20"
  >
    <!-- Columna Campos -->
    <div class="flex">
      <div class="flex flex-col">
        <!-- DECLARACION ANTERIOR -->
        <div class="flex justify-between">
          <label class="form-label">Ha declarado anteriormente </label>
          <div>
            <input
              type="checkbox"
              formControlName="firstTime"
              placeholder=""
              class="ml-5 mt-1"
              (click)="onClick()"
            />
          </div>
        </div>

        <!-- DEPENDIENTES -->
        <div class="flex justify-between mt-5">
          <label class="form-label">Tiene dependientes </label>
          <div>
            <input
              type="checkbox"
              formControlName="dependents"
              placeholder=""
              class="ml-5 mt-1"
              (click)="onClick()"
            />
          </div>
        </div>

        <!-- DECLARACION EN CONJUNTO -->
        <div class="flex justify-between mt-3">
          <label class="form-label">Declara en conjunto </label>

          <input
            type="checkbox"
            formControlName="join"
            placeholder=""
            class="ml-5 mt-1"
            (click)="onClick()"
          />
        </div>

        <!-- RADIOBUTTONS -->
        @if(join){
        <div class="flex pl-2 mt-3">
          <label class="form-label text-sm">Declara con: </label>
          <div *ngFor="let option of options">
            <input
              type="radio"
              [id]="option.value"
              [value]="option.value"
              formControlName="spouseOption"
              class="ml-2"
              (click)="onClick()"
            />
            <label [for]="option.value" class="text-sm ml-1">{{
              option.label
            }}</label>
          </div>
        </div>
        }

        <!-- FORMAS DE INGRESO -->
        <div class="flex flex-col mt-5 border-b border-b-gray-300 pb-4">
          <label
            class="form-label border-b pb-1 border-b-gray-300 font-medium mb-2"
            >Formas de ingreso
          </label>

          <div class="flex flex-col pl-2">
            <!-- W2 -->
            <div class="flex mt-2 justify-between">
              <label class="w-1/2 text-sm">W2 </label>

              <input
                type="checkbox"
                formControlName="w2"
                placeholder=""
                class=" "
                (click)="onClick()"
              />
            </div>

            <!-- 1099 -->
            <div class="flex mt-2 justify-between">
              <label class="text-sm">1099 </label>
              <div>
                <input
                  type="checkbox"
                  formControlName="f1099"
                  placeholder=""
                  class="ml-5 bg-amber-300"
                  (click)="onClick()"
                />
              </div>
            </div>

            @if (f1099.value){

              <!-- SUMARIO GASTOS -->
              <div class="flex justify-between text-xs pl-2">
                <label class="form-label">Sumario Gastos </label>
                <div>
                  <input
                    type="checkbox"
                    formControlName="expenses"
                    placeholder=""
                    class="ml-5 mt-1"
                    (click)="onClick()"
                  />
                </div>
              </div>
              }

            <!-- FORMAS DE INGRESO CONYUGUE -->
            @if (join){
            <label
              class="text-sm border-b pb-1 border-b-gray-300 font-medium my-2"
              >{{ spouseOption.value }}
            </label>

            <div class="pl-2">
              <!-- W2 -->
              <div class="flex mt-2 justify-between">
                <label class="w-1/2 text-sm">W2 </label>

                <input
                  type="checkbox"
                  formControlName="spouseW2"
                  placeholder=""
                  class=" "
                  (click)="onClick()"
                />
              </div>

              <!-- 1099 -->
              <div class="flex mt-2 justify-between">
                <label class="text-sm">1099 </label>
                <div>
                  <input
                    type="checkbox"
                    formControlName="spouseF1099"
                    placeholder=""
                    class="ml-5 bg-amber-300"
                    (click)="onClick()"
                  />
                </div>
              </div>

              @if (spouseF1099.value){

                <!-- SUMARIO GASTOS -->
                <div class="flex justify-between text-xs pl-2">
                  <label class="form-label">Sumario Gastos </label>
                  <div>
                    <input
                      type="checkbox"
                      formControlName="expensesSpouse"
                      placeholder=""
                      class="ml-5 mt-1"
                      (click)="onClick()"
                    />
                  </div>
                </div>
                }
            </div>

            }
          </div>
        </div>

        <!-- SEGURO MEDICO -->
        <div class="flex justify-between mt-5">
          <label class="form-label">Pagó seguro médico </label>
          <div>
            <input
              type="checkbox"
              formControlName="f1095A"
              placeholder=""
              class="ml-5 mt-1"
              (click)="onClick()"
            />
          </div>
        </div>

        <!-- PASOS PARA DESCARGAR 1095A -->
        @if(f1095A.value){
        <div class="flex justify-between mt-5">
          <label class="form-label ml-5 text-sm">Compartir pasos </label>
          <div>
            <input
              type="checkbox"
              formControlName="steps"
              placeholder=""
              class="ml-5 mt-1"
              (click)="onClick()"
            />
          </div>
        </div>
        }

           <!-- COMPRO O VENDIO ACCIONES -->
        <div class="flex justify-between mt-5">
          <label class="form-label">Compró o vendió acciones? </label>
          <div>
            <input
              type="checkbox"
              formControlName="buyAndSell"
              placeholder=""
              class="ml-5 mt-1 mb-10"
              (click)="onClick()"
            />
          </div>
        </div>

        <!-- DATOS PERSONALES -->
        <!--    <div class="flex justify-between mt-5">
          <label class="form-label">Datos personales </label>
          <div>
            <input
              type="checkbox"
              formControlName="information"
              placeholder=""
              class="ml-5 mt-1"
              (click)="onClick()"
            />
          </div>
        </div> -->

        <!-- EMRPESA -->
        <label
          class="form-label border-b pb-1 border-b-gray-300 font-medium mb-2 mt-7"
          >Sección Corporativa
        </label>

        <div class="flex justify-between mt-2">
          <label class="form-label">Tiene empresa </label>
          <div>
            <input
              type="checkbox"
              formControlName="hasCompany"
              placeholder=""
              class="ml-5 mt-1"
              (click)="onClick()"
            />
          </div>
        </div>

        <!-- RADIOBUTTONS EMPRESA-->

        @if(hasCompany.value){
        <div class="flex flex-col pl-2 mt-3">
          <!-- DECLARACION ANTERIOR EMPRESA -->
          <div class="flex justify-between">
            <label class="form-label text-sm"
              >Ha declarado anteriormente
            </label>
            <div>
              <input
                type="checkbox"
                formControlName="firstTimeCompany"
                placeholder=""
                class="ml-5 mt-1"
                (click)="onClick()"
              />
            </div>
          </div>
          <!--  CANTIDAD DE SOCIOS -->
          <div class="flex mt-2">
            <label class="form-label text-sm">Es único socio? </label>
            <div *ngFor="let option of optionsCompany">
              <input
                type="radio"
                [id]="option.value"
                [value]="option.value"
                formControlName="companyOption"
                class="ml-2"
                (click)="onClick()"
              />
              <label [for]="option.value" class="text-sm ml-1">{{
                option.label
              }}</label>
            </div>
          </div>

          <!--  QUIERE CONTABILIDAD -->
          <div class="flex mt-2">
            <label class="form-label text-sm">Quiere contabilidad? </label>
            <div *ngFor="let option of optionsAccounting">
              <input
                type="radio"
                [id]="option.value"
                [value]="option.value"
                formControlName="companyAccounting"
                class="ml-2"
                (click)="onClick()"
              />
              <label [for]="option.value" class="text-sm ml-1">{{
                option.label
              }}</label>
            </div>
          </div>

        <!-- CRIPTOMONEDAS -->
        <!-- <div class="flex justify-between mt-5">
          <label class="form-label">Invirtió en Criptomonedas? </label>
          <div>
            <input
              type="checkbox"
              formControlName="cripto"
              placeholder=""
              class="ml-5 mt-1"
              (click)="onClick()"
            />
          </div>
        </div> -->

        </div>
        }

        <!-- EMRPESA -->
        <label
          class="form-label border-b pb-1 border-b-gray-300 font-medium mb-2 mt-10"
          >Otros Servicios
        </label>

        <div class="flex justify-between mt-2">
          <label class="form-label">Contabilidad </label>
          <div>
            <input
              type="checkbox"
              formControlName="accounting"
              placeholder=""
              class="ml-5 mt-1"
              (click)="onClick()"
            />
          </div>
        </div>

        <div class="flex justify-between mt-2">
          <label class="form-label">Renovacion</label>
          <div>
            <input
              type="checkbox"
              formControlName="renewal"
              placeholder=""
              class="ml-5 mt-1"
              (click)="onClick()"
            />
          </div>
        </div>



      </div>
    </div>
    <div class="ml-20 flex flex-col w-7/12">
      <label class="form-label mb-5 font-medium">Mensaje Generado </label>
      <textarea
        type="textarea"
        formControlName="message"
        placeholder="Description"
        class="h-screen rounded-lg w-full p-5 border"
      ></textarea>
    </div>
  </form>
</div>

<router-outlet />
